.first_section
{
  
  height:50px;
  padding:20px;
  background-color:#3d2b1f;  
}

.second_section
{
	position:absolute;
	top:10px;
	left:50px;
	padding:20px;
	width:190px;
	height:160px;	
	
}
a
{
 text-decoration:none;
 color:#a55c11 ;
}
a:hover
{
 text-decoration:bold;
 color:#7b1113;
 font-family: 'Trebuchet MS', sans-serif;
 
}
.home
{
	position:absolute;
	top:25px;
	right:600px;
	
	
}
.about
{
	position:absolute;
	top:25px;
	right:430px;
	
}
.product
{
	position:absolute;
	top:25px;
	right:270px;
	
}

.contact
{
	position:absolute;
	top:25px;
	right:90px;
	
	
}
.third_section
{
	width:40px;
	height:40px;
	border:solid 3px #a55c11;
	float:right;
	margin:20px;
	border-radius:5px;
	
	
	
}


.fourth_section
{
  
  height:640px;
  padding:30px;
  background-color:#faf0e6;
 
}
 
.background1
{
	width:300px;
	height:100px;
	padding-left:20px;
	position:absolute;
	top:350px;
	left:200px;
	border-left:solid 3px #a55c11;
}

.product1
{
	width:120px;
	height:100px;
	position:absolute;
	top:350px;
	left:70px;
	border:solid 3px #a55c11;
}
.background2
{
	width:300px;
	height:100px;
	padding-left:10px;
	position:absolute;
	top:350px;
	left:700px;
	border-left:solid 3px #a55c11;	
}

.product2
{
	width:120px;
	height:100px;
	position:absolute;
	top:350px;
	left:570px;
	border:solid 3px #a55c11;
}

.background3
{
	width:300px;
	height:100px;
	padding-left:10px;
	position:absolute;
	top:350px;
	left:1200px;
	border-left:solid 3px #a55c11;	
}

.product3
{
	width:120px;
	height:100px;
	position:absolute;
	top:350px;
	left:1070px;
	border:solid 3px #a55c11;
}

.background4
{
	width:300px;
	height:100px;
	padding-left:10px;
	position:absolute;
	top:550px;
	left:200px;
	border-left:solid 3px #a55c11;

}

.product4
{
	width:120px;
	height:100px;
	position:absolute;
	top:550px;
	left:70px;
	border:solid 3px #a55c11;
}

.background5
{
	width:300px;
	height:100px;
	padding-left:10px;
	position:absolute;
	top:550px;
	left:700px;
	border-left:solid 3px #a55c11;	
}

.product5
{
	width:120px;
	height:100px;
	position:absolute;
	top:550px;
	left:570px;
	border:solid 3px #a55c11;
}

.background6
{
	width:300px;
	height:100px;
	padding-left:10px;
	position:absolute;
	top:550px;
	left:1200px;
	border-left:solid 3px #a55c11;
}

.product6
{
	width:120px;
	height:100px;
	position:absolute;
	top:550px;
	left:1070px;
	border:solid 3px #a55c11;
}

.button
{
	position:absolute;
	top:700px;
	left:650px;
	width:200px;
	height:40px;
	padding:10px;
	color :black;
	font-size:20px;
	font-family:none;
	
}

.fifth_section
{
	width:1470px;
	height:590px;
	position:absolute;
	top:190px;
	left:20px;
	border-left:solid 3px #a55c11;
	border-right:solid 3px #a55c11;
	background-color: #e3dac9;
}
.jt
{
	text-align:justify;
	font-family:'Trebuchet MS', sans-serif;
}
.center
{
	text-align:center;
	font-family:'Trebuchet MS', sans-serif;
}

.sixth_section
{
  
  height:230px;
  padding:20px;
  background-color:#3d2b1f;  
}

.seventh_section
{
	width:300px;
	height:220px;
	position:absolute;
	top:780px;
	left:70px;
	padding:3px;
	border-right:solid 3px  #9f8170;
	margin:45px;
}
.symbol1
{
	width:20px;
	height:30px;
	position:absolute;
	top:115px;
	left:80px;
	padding:3px;
	border:solid 3px #3d2b1f ;
	background-color:#3d2b1f;
}
.symbol2
{
	width:20px;
	height:20px;
	position:absolute;
	top:155px;
	left:50px;
	padding:3px;
	border:solid 3px #3d2b1f ;
	background-color:#3d2b1f;
}
.symbol3
{
	width:20px;
	height:20px;
	position:absolute;
	top:190px;
	left:25px;
	padding:1px;
	border:solid 3px #3d2b1f ;
	background-color:#3d2b1f;
}

.eight_section
{
	width:550px;
	height:210px;
	position:absolute;
	top:770px;
	left:370px;
	padding:10px;
	border-right:solid 3px #9f8170 ;
	margin:50px;
}

.ninth_section
{
	width:360px;
	height:200px;
	position:absolute;
	top:790px;
	left:980px;
	padding:5px;
	border:solid 3px #a55c11;
	border-radius:5%;
	margin:40px;
}

.name
{
	position:absolute;
	top:740px;
	left:1320px;
}








